<div class="container mt-2">
    <ng-container *ngIf="clients | async as listCustomers; else failureOrLoading">
        <div class="card" *ngIf="clients">
            <div class="card-header">Customers</div>
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let c of clients | async">
                            <td>{{c.id}}</td>
                            <td>{{c.nom}}</td>
                            <td>{{c.email}}</td>
                            <td>
                                <button (click)="handleClientClick(c)" class="ms-2 btn btn-success">
                                    voir credits
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </ng-container>
    <ng-template #failureOrLoading>
        <ng-container *ngIf="errorMessage; else loading">
            <div class="text-danger">
                {{errorMessage}}
            </div>
        </ng-container>
        <ng-template #loading>
            Loading ...
        </ng-template>
    </ng-template>

</div>